/* 
	Stylesheet for AVtory.html 
*/

body{
    font-family: Times New Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
    color: #000000;
    margin: auto;
    background-color: #7FFF00;
}

/* CONTENT SEPARATORS */
hr{
    border: none; 				/* Make line fill consistent */
    height: 5px; 				/* Set line thickness */
    width: 70%;
    background-color: #000000; 	/* Set fill color of line */
}

/* HEADER */
.top_container, .bottom_container{
    color: #F8F8FF; /* Ghost White */
    background-color: #000000;
    padding: 20px;
}
.header, .footer{
    padding: 5px;
    background-color: #F8F8FF;
}
#menu, #social_media_links{
    color: #000000;
    text-align: center;
}

/* MAIN BODY */
.body_container{
    width: 80%;  			/* Makes container smaller than body */
    margin-left: auto;  	/* Centers container within body */
    margin-right: auto;
    background-color: #A9A9A9;
}

.main_body{
    padding: 5px;
    background-color: #000000;
}
#main_content{
    color: #F8F8FF;
    text-align: center;
}
/* FOOTER */

